### Q1

In [11]:
def sm(n1,n2):
    sum1 = n1 + n2
    return sum1
sm(10,20)

30

### Q2

In [7]:
def string(int1):
    s1 = str(int1)
    return s1
string(2)

'2'

### Q3

In [12]:
def sm():
    n1 = input('Enter number 1: ')
    n2 = input('Enter number 2: ')
    sm = int(n1) + int(n2)
    return sm
sm()

Enter number 1: 1
Enter number 2: 2

3

### Q4

In [13]:
def concatenation():
    s1 = input('String 1: ')
    s2 = input('String 2: ')
    s3 = s1 + s2
    return s3
concatenation()

String 1: Fred
String 2: Gachoka

'FredGachoka'

### Q5

In [14]:
def num():
    number = input('Enter the number: ')
    if int(number)%2 == 0:
        print(number,'is an even number.')
    else:
        print(number,'is an odd number.')
num()

Enter the number: 3
3 is an odd number.

### Q6

In [15]:
def compare(i1,i2):
    if i1>i2:
        return i1
    else:
        return i2
compare(1,2)

2

### Q7

In [16]:
def comparison(i1,i2,i3):
    if i1<i2 and i1<i3:
        return i1
    elif i2<i1 and i2<i3:
        return i2
    else:
        return i3
comparison(10,30,20)

10

### Q8

In [17]:
def score():
    mark = input('Enter the mark: ')
    mark = int(mark)
    if mark < 40:
        print('Grade F')
    elif mark>= 40 and mark<50:
        print('Grade D')
    elif mark>=50 and mark <60:
        print('Grade C')
    elif mark>=60 and mark <70:
        print('Grade B')
    else:
        print('Grade A')
score()

Enter the mark: 60
Grade B

### Q8

In [19]:
def triangle():
    b = int(input('Enter base: '))
    h = int(input('ENter the height: '))
    area = 'The area is',0.5*(b*h)
    return area
triangle()

Enter base: 10
ENter the height: 5

('The area is', 25.0)