### Q1

In [18]:
def square():
    num = 10
    for x in range(num+1):
        print(x,x*x)
square()

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

### Q2

In [17]:
def odd():
    num = 100
    for x in range(num+1):
        if x%2 != 0:
            print(x)
odd()

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

### Q3

In [16]:
def sum_even():
    count = 0
    num = 10
    for x in range(num+1):
        if x%2 == 0 :
            count = count + x
    return count
sum_even()

30

### Q4

In [22]:
def factorial(num):   
    factorial = 1
    if num < 0:
        print('Sorry, factorial does not exist')
    elif num == 0:
        print('The factorial of 0 is 1')
    else:
        for i in range(1,num + 1):
            factorial = factorial*i
        print("The factorial of",num,"is",factorial)
factorial(5)

The factorial of 5 is 120

### Q5

In [32]:
def asterisk():
    num = int(input('Enter number'))
    if num > 0:
        for i in range(1,num+1):
            print(i*'*','\n')
asterisk()

Enter number6
*

**

***

****

*****

******

### Q6

In [52]:
def numbers_triangle():
    num = int(input('Enter number'))
    if num > 0:
        for i in range(1,num+1):
            for x in range(1,i+1):
                print(i,end=' ')
            print(' ')
numbers_triangle()

Enter number3
1
2 2
3 3 3

### Q7

In [69]:
def prime():
    num = int(input('Enter number: '))
    count = 0
    for x in range(1,num+1):
        if num % x == 0:
            count +=1
    if count == 2:
        print(num,'is a prime number')
    else:
        print('nope',num,'is not a prime number.')
prime()

Enter number: 1
nope 1 is not a prime number.

### Q8

In [1]:
def print_prime(num):
    total = 0
    for x in range(1,num+1):
        count = 0
        for i in range(2, (x//2 + 1)):
            if(x % i == 0):
                count = count + 1
                break
        if (count == 0 and x != 1):
            total +=1
            print(x)
    print('Total count is:',total)
print_prime(100)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
Total count is: 25

### Q9

In [3]:
def fibonnaci():
    first = 0
    second = 1
    terms = 10
    count = 0
    while count<terms:
        print(first)
        nth = first + second
        first = second
        second = nth
        count +=1
fibonnaci()

0
1
1
2
3
5
8
13
21
34